#ver {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkred;
    height: 100px;
    font-size: 36pt;
    color: gold;
}

#blog {
    text-align: center;
    background-color: darkgreen;
}

#tags {
    text-align: center;
    background-color: darkkhaki;
}

#tagfot {
    text-align: center;
    background-color: darkorange;
    min-height: 370px;
}