/* body {
    background-image: url(blog-background.jpg);
    height: 100%;
    margin: 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

} */

body {
    background-color: floralwhite;
}

header {
    display: block;
}


.post {
    border-bottom: 1px solid #acbace;
    padding-bottom: 10px;
    margin: 0px 20px 20px 10px;
}

.navigation {
    background-color: #ffdb99;
    border-top: 2px solid #acbace;
    padding-right: 25px;
}

#crt-btn {
    font-size: 20px;
    margin-left: 680px;
}

footer {
    background-color: #ffdb99;
    text-align: center;
}

#ver {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffdb99;
    color: rebeccapurple;
    height: 100px;
    font-size: 36pt;
}

[role=main] {
    min-height: 750px;
    
}

#post {
    text-align: center;
    margin-top: 60px;
}

.modal-content {
    background-color: bisque;
}

#blog {
    
    /* background-color: darkgreen; */
    color: darkred;
    border-right: 1px solid slateblue;
    
    
}

.featured-wrap {
    float: left;
    margin-right: 20px;
    max-width: 150px;
}

.main-section {
    background-color: tan;
}

#blog input {
    margin-top: 20px;
    margin-right: 30px;
}

#taghead {
    min-height: 370px;
}

#tagfot {
    
    /* background-color: darkorange; */
    min-height: 380px;
}

h6 {
    margin: 8px;
    text-align: left;
    border-bottom: 1px solid lawngreen;
    padding-bottom: 20px;
    font-size: 36px;
}

#prof {
    background-color: lightgray;
    margin-top: 150px;
    border-radius: 8px;
}


#phot {
    /* background-color: aqua; */
    margin-top: 20px;
    text-align: left;
    

}

#name {
    /* background-color: blue; */
    margin-top: 20px;
    text-align: center;
    padding-left: 80px;

    
}

#info {
    /* background-color: lime; */
    text-align: left;
    padding-left: 80px;
    padding-top: 15px;

}



#name-post {
    text-align: left;
    padding-left: 90px;
    padding-top: 15px;
}

.profile-head h5 {
    margin-top: 10px;
    font-size: 24px;
}

#btn {
    text-align: center;
    padding-left: 30px;
    padding-top: 15px;
}

.profile-edit-btn {
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    width: 50%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;

}


